figure.image-gallery-container img{
  width: 100%;
}

figcaption{
  line-height: 1.4;
  font-family: var(--font-label);
  font-style: italic;
}

post ul{
  list-style: square;
}

pre.highlight {
  font-size: var(--font-size-body);
  line-height: 1.4;
}