---
# Main stylesheet for about page
---

@import "font";
@import "layout";
@import "main";
@import "project_card";
@import "document";
@import "about";
@import "blog";
@import "post";
@import "syntax";
