---

# Main stylesheet for about page
---

@import "font";
@import "layout";
@import "main";
@import "project_card";
@import "post_header";
@import "document";
@import "about";
@import "blog";
@import "post";
@import "syntax";
@import "work_in_progress";
@import "link_preview";
@import "scientific_reference";
@import "cv";
